body {
    font-family: serif; 
    padding: 0px;
    margin: 0px;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: 		#66545e;
}

.container {
    background-color: #aa6f73;
    height: 600px; 
    width: 1200px;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    box-shadow: box-shadow: 5px 10px 8px #888;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: 32px; 
    text-transform: uppercase; 
    color: white;

}

.question {
    padding: 20px; 
    font-size: 24px; 
    background: white;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: black;
}

.option {
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px; 
    background: white; 
    margin: 10px 0 10px 10px; 
    color: black; 
    border-radius: 20px; 
    vertical-align: middle;

}

.option:hover {
    background: #f6e0b5;
    color: black; 
    
}

.next-Btn{
    border: none; 
    outline: none; 
    background: #eea990;
    width: 100px;
    height: 45px; 
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    float: right;  
    
}

.next-Btn:hover{
    background: #f6e0b5;
    color: black; 
}

.result{
    height: 400px;
    text-align: center; 
    font-size: 60px;
}

.option input:checked .option{
    background: #0086ad;
    color: black; 

}






