body {
    font-family: serif; 
    padding: 0px;
    margin: 0px;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #005582;
}

.container {
    background-color: #0086ad;
    height: 600px; 
    width: 1200px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 2px darkgrey;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: 36px; 
    text-transform: uppercase; 
    color: #daf8e3;

}

.question {
    padding: 20px; 
    font-size: 24px; 
    background: white;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: black;
}

.option {
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px; 
    background: white; 
    margin: 10px 0 10px 10px; 
    color: black; 
    border-radius: 20px; 
}

.option:hover {
    background: #97ebdb;
    color: black; 
    
}

.next-Btn{
    border: none; 
    outline: none; 
    background: #00c2c7;
    width: 100px;
    height: 35px; 
    border-radius: 20px;
    cursor: pointer;
    float: right; 
    margin: 10px; 
}

.next-Btn:hover{
    background: #97ebdb;
    color: black; 
}

.result{
    height: 100px;
    text-align: center; 
    font-size: 60px;
}

.option input:checked .option{
    background: #0086ad;
    color: black; 

}



